.background {
    background-image: url('../../../../public/signin/background-signinImage.png');
    background-size: cover ;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
  }
  .custom-password-input .ant-input-suffix .ant-input-password-icon{
    color: black !important; 
  }